.overlay {
	position: fixed;
	inset: 0;
	background-image: url(../images/body/BG_mob.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1000;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	padding-left: /* 16px */ 4.1vw;
	padding-right: /* 16px */ 4.1vw;
	overflow: hidden;
}
@media screen and (min-width: 1024px) {
	.overlay {
		background-image: url(../images/body/BG_desk.webp);
		padding-top: 80px;
		padding-right: /* 156px */ 10.31vw;
		padding-left: /* 156px */ 10.31vw;
	}
}

.overlay.hidden {
	display: none;
}

.game-container {
    position: relative;
    width: 100%;
    height: 50vh; /* Або фіксовано 645px/430px як раніше */
    max-width: 390px;
    overflow: hidden; /* Обов'язково! */
    
		background: var(--color-bg);
	border-radius: 20px;
	margin-top: 30px;
}
@media screen and (min-width: 1024px) {
	.game-container {
		max-width: 760px;
		height: 425px;
	}
}


.game-iframe {
    position: absolute;
    top: 0;
    left: 50%;
    border: none;
		border-radius: 20px;
    transform-origin: top center;
}

/* .game-container {
	position: relative;
	width: 390px;
	height: 645px;
	background: var(--color-bg);
	border-radius: 20px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	overflow: hidden;
	display: flex;
	align-items: flex-start;
}
@media screen and (min-width: 1024px) {
	.game-container {
		width: 1200px;
		height: 430px;
	}
}

.game-iframe {
	position: absolute;
	top: 0;
	left: 50%;
	width: 390px;
	height: 645px;
	border: none;
	transform-origin: top center;
	transform: translateX(-50%) scale(1);
	z-index: 20;
	overflow: hidden;
}
@media screen and (min-width: 1024px) {
	.game-iframe {
		width: 1200px;
		height: auto;
		min-height: 430px;
	}
} */


.tips {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);

	width: 90%;
	max-width: 390px;

	display: flex;
	flex-direction: column;
	gap: 4px;

	z-index: 10;
	pointer-events: none;
}
@media screen and (min-width: 1024px) {
	.tips {
		max-width: 1200px;
	}
}

.tip {
	opacity: 0;
	transform: translateY(8px);

	transition:
		opacity 0.3s ease,
		transform 0.3s ease;

	will-change: opacity, transform;
}

.tip.visible {
	opacity: 1;
	transform: translateY(0);
}
.tip-exit {
	opacity: 0;
	transform: translateY(-8px);
}
.tip-light {
	font-weight: 400;
	color: var(--color-text);
}

.tip-accent {
	font-weight: 700;
	color: var(--color-accent-text);
}

.tip-bold {
	font-weight: 700;
	color: var(--color-text);
}
.tip span {
	display: inline;
}
